body { background-color: #fff; color: #333; }

* a {
	outline:none;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#content h3 {
	font-size:12px;
	color:#C1272D;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* ========================================================== */
/*    ADDED BY DREW											  */
/* ========================================================== */
body {
	background:url(../images/bg1.jpg) repeat 0 0;
}

#wrap {
	width:681px; /* 745 - 32 - 32 for padding */
	background:#FFF;
	border-top:10px solid #000;
	margin:40px auto 10px auto;
	padding:10px 32px;
	overflow:hidden;
}

#header {
	background:url(../images/memory-grid-logo.png) no-repeat 10px 0;
	border-bottom:1px dotted #e1e1e1;
	position:relative;
	height:80px;
}
	#header a#home-link {
		display:block;
		width:230px;
		height:51px;
		position:absolute;
		top:0;
		left:10px;
	}
	#header h1 span, #header h3 span {
		display:none;
	}
	#header h4 {
		position:absolute;
		right:0;
		top:10px;
		color:#e1e1e1;
		font-weight:normal;
		margin:0;
		display:none;
	}
		#header h4 a {
			color:#999;
			text-transform:uppercase;
			font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
			text-decoration:none;
			font-size:10px;
			letter-spacing:2px;
		}
		#header h4 a:hover {
			color:#666;
			text-decoration:underline;
		}
#content {
	width:443px;
	float:left;
	border-right:1px dotted #e1e1e1;
	padding:10px 10px 0 0;
}

#sidebar {
	width:197px;
	float:right;
	padding:0 0 0 30px
}
	#sidebar a, #sidebar a:visited {
		color:#333;
	}

#memory_body, #users input, #comment_content {
	-moz-border-radius: 0 10px 0 0;
    -moz-box-shadow: 0 1px #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #222222;
    font: 14px/18px "Helvetica Neue",Arial,sans-serif;
    outline: medium none;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}



#memory_body, #comment_content {
    height: 56px;
    width: 420px;
	padding: 8px;
	-moz-border-radius: 0 20px 0 0;
}
#new_memory #memory_body:focus, #users input:focus {
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	border-color: rgba(82, 168, 236, 0.75) !important;
}

#memory_submit {
	font-size: 15px;
    font-weight: 300;
    padding: 2px 9px;
	float:right;
}

#counter {
	color: #999999;
    display: inline-block;
    font: 16px 'helvetica neue','lucida grande',helvetica,arial;
    padding: 0 5px;
    position: relative;
    text-align: center;
    top: 7px;
    vertical-align: top;
	float:right;
	margin:0;
}
.excess {
	color:#F00 !important;
}

#loading {
	width:100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	background:url(../images/ajax-loader.gif) no-repeat center 40px #fff;
	text-align:center;
	padding:10px;
	font:normal 16px Tahoma, Geneva, sans-serif;
	border:1px solid #666;
	margin-left: -50px;
	margin-top: -50px;
	z-index:2;
	overflow: auto;
	display:none;
}

#the-grid {
	list-style:none;
	margin:0;
	padding:0;
}	
	#the-grid li {
		padding:0;
		margin:0;
		overflow:hidden;
		height:70px;
		border-bottom:1px dotted #e1e1e1;
	}
	#the-grid p.mem {
		width:443px;
		float:left;
		padding:10px 10px 0 0;
		overflow:hidden;
		margin:0;
		font-size:13px;
		line-height:20px;
	}
	#the-grid p.mem a, #the-grid p.mem a:visited {
		color:#000;
	}
		#the-grid p.mem a {
			text-decoration:none;
		}
		#the-grid p.mem a:hover {
			text-decoration:underline;
		}
		
	#the-grid p.meta {
		width:217px;
		float:right;
		padding:0 0 0 10px;
		margin:10px 0 0 0;
		overflow:hidden;
		border-left:1px dotted #e1e1e1;
		font-size:11px;
		line-height:20px;
		height:50px;		
	}
		#the-grid p.meta, #the-grid p.meta a {
			color:#999;
		}
	
#user-welcome {
	border-bottom:1px dotted #e1e1e1;
	padding:10px 5px;
	height:40px;
	overflow:hidden;
	position:relative;
	background:#fafafa;
	margin:0 0 15px 0;
}
	#user-welcome, #user-welcome a {
		color:#999;
	}
	#user-welcome img {
		float:left;
		padding:0 10px 0 0;
	}
	#user-welcome p {
		font-size:12px;
		margin:0;
	}
	#user-welcome #add-new-mem {
		color:#C1272D;
		text-decoration:none;
		display:block;
		width:222px;
		height:40px;
		line-height:40px;
		position:absolute;
		right:5px;
		top:10px;
		text-align:center;
		border:1px dotted #e1e1e1;
		font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
		text-transform:uppercase;
		font-size:11px;
		letter-spacing:3px;
		background:#f3f3f3;
		font-weight:bold;
	}
	#add-new-mem:hover {
		background:#eeeeee;
	}

p.commenter-name {
	font-size:11px;
	margin:0;
	line-height:14px;
	color:#999;
}
p.comment-content {
	margin:5px 0 0 0;
}
#show-mem {
	font-weight:bold;
	padding:0 0 20px 0;
	line-height:20px;
	font-size:13px;
	border-bottom:1px dotted #e1e1e1;
	margin:10px 0 20px 0;
}
#comment_form input {
	float: left;
    font-size: 15px;
    font-weight: 300;
    padding: 2px 9px;
}
#comment_counter {
    color: #999999;
    display: inline-block;
    font: 16px 'helvetica neue','lucida grande',helvetica,arial;
    margin: 0;
    padding: 0 5px;
    position: relative;
    text-align: center;
    top: 6px;
    vertical-align: top;
}
.one-comment {
	border-bottom:1px dotted #e1e1e1;
	padding:15px 0;
	position:relative;
}

.meta span {
	color:#cccccc;
    display: inline-block;
    font: 16px 'helvetica neue','lucida grande',helvetica,arial;
    margin: 0 0 0 40px;
    padding: 0 5px 0 30px;
    position: relative;
	line-height:30px;
	font-weight:bold;
}
.meta span.user-count {
	background:url(../images/icons.png) no-repeat 0 3px;
}
.meta span.comment-count {
	background:url(../images/icons.png) no-repeat 0 -43px;
}
#content h1 {
    font-size: 12px;
}
#add-friends-link{
	background:url(../images/icon-add.png) no-repeat 0 1px;
	padding:0 0 2px 20px;
	display:block;
	outline:none;
}
a.remove_friend span {
	display:none;
}
a.remove_friend {
	display:block;
	background:url(../images/icon-remove.png) no-repeat 0 0;
	width:16px;
	height:16px;
	float:right;
	margin:3px 0 0 0;
}
.user p {
	float:left;
	margin:0 0 15px 0;
}
.user {
	width:255px;
	overflow:hidden;
}
#set_friends {
	margin:8px 0 12px 0;
}
p.commenter-name a {
	color:#999 !important;
	position:absolute;
	top:15px;
	right:0;
	text-decoration:none;
	font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
	font-size:9px;
	text-transform:uppercase;
	text-align:center;
	display:block;
	line-height:13px;
	width:13px;
	background:#eee;
}
p.commenter-name a:hover {
	color:#666;
	background:#e1e1e1;
}
#notice {
	display:none;
}

#memory-users, ul.sidebar-list {
	list-style:none;
	margin:0 0 0 15px;
	padding:0;
}
	#memory-users li, ul.sidebar-list li {
		padding:3px;
	}
	#memory-users li form {
		/* display:none; */
	}
.user input {
	width:185px;
}