Hi <%= @user.name.slice(/\w+/) %>,

<%= @name.name.slice(/\w+/) %> added to a memory on TheMemoryGrid.com!

"<%= @memory.body %>"

<a href="http://thememorygrid.com/<%= @memory.id %>">View and add to this memory.</a>
